<article>
  <header>
    <h1>{{title}}</h1>
  </header>
  <p>
   A palindrome is a word, line, verse, number, sentence, etc., reading the same backward as forward, as Madam, I'm Adam or Poor Dan is in a droop. 
  </p>
  <form action="/result" method="post">
    <label for="text-to-test">
    Enter your string and click submit to check if it is a palindrome!
    </label>
    <input type="text" name="text-to-test" id="text-to-test">
    <input type="submit" value="Submit">
  </form>
</article>